body{
    padding: 0;
    box-sizing: border-box;
    background-color: #f0efeb;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin: 0;
}
.pageWrapper{
   
    margin: 0 auto;
    min-height: 100vh;
}

:root{
    --mainColor:  #f1faee;
    --color2: #1d3557;
    --buttons: #212529;
}
h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin: 0;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.3em;
}
a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}
ul{
    list-style: none
}
p{
    font-size: 1.3em;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 40px;
}

.first-row{
    padding: 10px;
    width: 100%;
    display: grid;
    line-height: 60px;
    max-width: 1400px;
    margin: 0 auto;
}
.first-row a{
    align-self: center;
}
.first-row h1{
    block-size: 0;
}
.first-row  a:nth-child(1){
    grid-column: 1/9;
    grid-row: 1;
    text-align: left;
}

.first-row  a:nth-child(2){
    grid-column: 7/7;
    grid-row: 1;
    text-align: right;
    block-size: 0;
    font-size: 1.3em;
}
.first-row  a:nth-child(3){
    grid-column: 8/8;
    grid-row: 1;
    text-align: right;
    block-size: 0;
    margin-right: 10px;
    font-size: 1.3em;
}
.active{
    border-bottom: 2px solid var(--color2);
}

.myStudy{
    margin: 0 auto;
    margin-bottom: 7rem;
    text-align: center;
    margin-top: 10rem;
    max-width: 1400px;
    
}
.myStudy h2{
    font-size: 2.2em;
    font-family: 'Major Mono Display', monospace;
}
.second-row{
    margin: 0 auto;
    max-width: 1400px;
}

.second-row img{
    width: 100%;
    grid-column: 3/5;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.short-about{
    grid-column: 5/7;
    padding: 25px;
    margin-left: 20px;
    align-self: center;
}
.short-about p{
    line-height: 34px;
}

.short-about span{
    position: relative;
    display: inline-flex;
    width: 190px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .short-about span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    letter-spacing: 2px;
    font-size: 1em;
    text-transform: capitalize;
  }
  .short-about span a:before,
  .short-about span a:after{
    position: absolute;
    height: 40px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #001d3d;
    box-sizing: border-box;
    border-radius: 3px;
    
  }
  .short-about span a:before{
    color: #fff;
    background: var(--buttons);
    transform: rotateY(0deg) translateZ(15px);
    content: 'More about me';
  }
  .short-about span a:after{
    color: #fff;
    transform: rotateX(90deg) translateZ(15px);
    content: 'Click Me';
  }
  .short-about span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }


/* My Projects */
.my-projects{
   padding: 20px;
   align-content: center;
   background-color: #212529;
   margin: 0 auto 10rem auto;
   
}
.my-projects h3, .latestPosts a{
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
    color: #fffcf2;
}
.projects a{
    padding: 10px 45px;
    border-radius: 2px;
    background-color:  #5d737e;
    color: #fffcf2;
    letter-spacing: 2px;
    font-size: 1em;
    text-transform: capitalize;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.projects a:hover{
    transition: 0.4s;
    background-color: #3f4045;
}

.projects{
    margin: 3rem auto;
    text-align: center;
    max-width: 1400px;
}
.projects p{
    color: #fffcf2;
    margin-bottom: 0;
    margin-top: 30px;
}

.projectHeader, .blogHeader{
    letter-spacing: 4px;
    text-align: center;
    font-size: 1.8em;
    color: black;
    text-transform: uppercase;
    margin: 15rem auto 5rem auto;
}
.project-one, .project-two, .project-three {
    padding: 25px 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-one{
    grid-column: 1/4;
}
.project-two{
    grid-column: 4/7;
}
.project-three{
    grid-column: 7/10;  
}
.projects img{
    width: 100%;
    vertical-align: middle;
    height: 70%;
    border-radius: 2px;
    margin: 18px 0 35px 0;
    filter: grayscale(70%);
}
.projects img:hover{
    transition: 0.5s;
    filter: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



/*Blog posts*/
.blog-container{
    background-color: #212529;
    padding: 50px 20px;
}
.grid-for-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.latestPosts p,ul{
    display: none;
}
.latestPosts img{
    width: 100%;
    height: auto;
}
.wp-block-image{
    margin: 0;
}
.latest-blog-posts{
    max-width: 1400px;
    margin: 0 auto;
}
.latestPosts a{
    font-size: 1.3em;
}






















/* Footer */

footer{
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  margin-top: 10rem;
  padding-top: 2rem;
}
footer p{
    text-align: center;
    padding: 15px;
    margin: 0;
    font-weight: lighter;
}
footer h4{
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
}
footer a{
    margin: 13px;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials i{
    font-size: 2.4em;
    padding: 12px;
    width: 38px;
}
.socials a{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.github:hover{
    transition: 0.4s;
    background-color: #333333;
    color: #fff;
}
.linkedIn:hover{
    transition: 0.4s;
    background-color: #4cc9f0;
    color: #fff;
}

